.nobullet {
	list-style: none; !important
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-5 {
	margin-top: 5px;
}

.presentation-overlay {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: block;
  width: 50%; 
 }
 
.presentation-overlay span {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #D3D3D3;
  display: inline-block;
  margin-right: 2.5%;
  float: left; 
 }